body {
  padding: 0;
  margin: 0;
  background: #blue;
}

.card-image-top{
	height: 600px;
	width: 200x;
}

.jumbotron {
    padding: 40px 25px;
    background: #FFBE67;
}

.starter-template {
    padding: 70px;
    background: #67AEFF;
    text-align: center;
}

.titleHeader {
    font-style: italic;
}
